<form class="form-inline">    
    <div class="form-group">
        <input type="text" class="form-control white-input" id="filter" @bind-value="filter" placeholder="Search..." />        
        <button type="button" class="btn btn-primary" @onclick="HandleSearch">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

@code {
    private string filter;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void HandleSearch()
    {
        OnSearch.InvokeAsync(filter);
    }

}
