@inject NavigationManager navigationManager

<div class="card m-2" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-tittle">Order Summary</h5>
        <div class="card-text d-flex justify-content-between">
            <div>
                Items (@itemsCount)
            </div>
            <div>
                @itemsTotalPrice.ToString( "c" )
            </div>
        </div>
        <div class="card-text d-flex justify-content-between">
            <div>
                Shipping and Handling:
            </div>
            <div>
                <text>$0.00</text>
            </div>
        </div>
        <div class="card-text d-flex justify-content-between">
            <div>
                Estamated Tax:
            </div>
            <div>
                <text>$0.00</text>
            </div>
        </div>
        <div class="card-text d-flex justify-content-between" style="color: darkblue">
            <div>
                <b>Order Total:</b>
            </div>
            <div>
                <b>@itemsTotalPrice.ToString("c")</b>
            </div>
        </div>
    </div>
    @if ( !HidePlaceOrder )
    {
        <button class="btn btn-primary" @onclick="PlaceOrder">Place your order</button>
    }

</div>


@code {

    int itemsCount = 0;
    double itemsTotalPrice = 0;

    [Parameter]
    public Order Order { get; set; }

    [Parameter]
    public bool HidePlaceOrder { get; set; } = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if ( Order != null )
        {
            itemsCount      = Order.LineItems.Count;
            itemsTotalPrice = 0;

            Order.LineItems.ForEach( li => itemsTotalPrice += li.Price * li.Quantity );
        }
    }

    private void PlaceOrder()
    {
        navigationManager.NavigateTo( "/placeorder" );
    }

}
