@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />  
</div>*@


<div class="main">
    <TopNavBar></TopNavBar>

    <div class="content">
        <div class="container-fluid">
            @Body
        </div>
        <Footer></Footer>
    </div>
</div>
